<html>

<head>
	<title>Cinema Updated</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
	<style>
	
	body{
      font-family: "Audiowide", sans-serif;
      background-color: aquamarine;
    }
	
	.card{
		margin: auto;
	}

	h1{
		margin-left: 750px;
		margin-bottom: 50px;
	}
	</style>
	
</head>

<body>
	<h1>Deleted Cinema</h1>


  <div class="card" style="width: 50rem;">
    <img th:src="${cinema.cinemaType}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" th:text="${cinema.cinemaName}"></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" th:text="${cinema.city}"></li>
      <li class="list-group-item" th:text="${cinema.address}"></li>
    </ul>
    <div class="card-body">
      <a th:onclick="|window.location.href='/allcinema'|"  class="card-link" style="text-decoration: underline; cursor: pointer;">Cinema List</a>
      <a  th:onclick="|window.location.href='/home'|" class="card-link"  style="text-decoration: underline; cursor: pointer;">Home</a>
    </div>
  </div>


</body>

</html>